### Intro: find missing data

In [7]:
import pandas as pd
import numpy as np
import math

In [10]:
# Here's building a function using def: 

def square_root(x): 
    return math.sqrt(x)

In [20]:
# Here's building the same function using lambda
square_root = lambda x : math.sqrt(x)
square_root(169)

13.0

In [1]:
# Use the isnull() method to detect the missing values. The output
# shows True when the value is missing. By adding an index into 
# the dataset, you obtain just the entries that are missing.
# A dataset could represent missing data in several ways. In this 
# example, you see missing data represented as np.NaN (NumPy Not 
# a Number) and the Python None value.

### Intro: fill in missing data

In [2]:
# To fill in missing data use fillna(). For fillna() you need to 
# provide a number. Usually, the mean, median, or mode is used. 
# Let's use the same data set and this time let's fill in missing 
# values with the mean.

In [3]:
# We could also just drop all the NAs, by using dropna()

### Write the equivalent lambda function

In [48]:
# Write the equivalent lambda function for the following def 
# function: 

def f (x): return x**2
print f(8)

64

In [21]:
# equivalent lambda function
l = lambda x: x**2
l(2)

4

### Lab 3.4

In [99]:
# read in the raw data from the github url

data = pd.read_csv("https://raw.githubusercontent.com/suneel0101/lesson-plan/master/crunchbase_monthly_export.csv")

In [100]:
print data.columns.values
data.head()

['permalink' 'name' 'homepage_url' 'category_list' ' market '
 ' funding_total_usd ' 'status' 'country_code' 'state_code' 'region' 'city'
 'funding_rounds' 'founded_at' 'founded_month' 'founded_quarter'
 'founded_year' 'first_funding_at' 'last_funding_at' 'Unnamed: 18']

,permalink,name,homepage_url,category_list,market,funding_total_usd,status,country_code,state_code,region,city,funding_rounds,founded_at,founded_month,founded_quarter,founded_year,first_funding_at,last_funding_at,Unnamed: 18
0,/organization/canal-do-credito,Canal do Credito,http://www.canaldocredito.com.br,|Credit|Technology|Services|Finance|,Credit,"750,000",NaN,BRA,NaN,Rio de Janeiro,Belo Horizonte,1,NaN,NaN,NaN,NaN,1/1/10,1/1/10,NaN
1,/organization/waywire,#waywire,http://www.waywire.com,|Entertainment|Politics|Social Media|News|,Entertainment,"1,750,000",acquired,USA,NY,New York City,New York,1,6/1/12,2012-06,2012-Q2,2012.0,6/30/12,6/30/12,NaN
2,/organization/tv-communications,&TV Communications,http://enjoyandtv.com,|Games|,Games,"4,000,000",operating,USA,CA,Los Angeles,Los Angeles,2,NaN,NaN,NaN,NaN,6/4/10,9/23/10,NaN
3,/organization/rock-your-paper,'Rock' Your Paper,http://www.rockyourpaper.org,|Publishing|Education|,Education,"40,000",operating,EST,NaN,Tallinn,Tallinn,1,10/26/12,2012-10,2012-Q4,2012.0,8/9/12,8/9/12,NaN
4,/organization/in-touch-network,(In)Touch Network,http://www.InTouchNetwork.com,|Electronics|Guides|Coffee|Restaurants|Music|i...,Apps,"1,500,000",operating,GBR,NaN,London,London,1,4/1/11,2011-04,2011-Q2,2011.0,4/1/11,4/1/11,NaN

In [101]:
# Renaming column names to remove spaces
data.rename(columns ={" market ":"market"," funding_total_usd ":"funding_total_usd"}, inplace=True)

In [142]:
# find missing values
# replace unwanted characters from funding total USD column
data["funding_total_usd"] = data["funding_total_usd"].replace({',':''}, regex=True)
data["funding_total_usd"] = data["funding_total_usd"].replace({' -   ':'0'}, regex=True)
data["funding_total_usd"] = data["funding_total_usd"].replace({' ':''}, regex=True)

# change data type from string to float
data["funding_total_usd"] = data["funding_total_usd"].astype(float)

# replace 0.0 to nan
data["funding_total_usd"][data["funding_total_usd"] == 0.0] = np.NaN

In [138]:
# fill in missing data with the mean
data["funding_total_usd"] = data["funding_total_usd"].fillna(round(np.mean(data["funding_total_usd"])))

In [145]:
# Zero nan values in funding_total_usd column
print sum(data["funding_total_usd"].isnull())
round(np.mean((data["funding_total_usd"])))

0

18005069.0

In [181]:
# funtion to check number of nan values in the dataframe
def num_missing(x):
    return sum(x.isnull())

data.apply(num_missing, axis=0)

permalink                0
name                     1
homepage_url          3036
category_list         3953
market                3953
funding_total_usd        0
status                2742
country_code             0
state_code           17177
region                5335
city                  4841
funding_rounds           0
founded_at            9658
founded_month         9724
founded_quarter       9724
founded_year          9724
first_funding_at         0
last_funding_at          0
dtype: int64

In [147]:
# drop last column
data.drop('Unnamed: 18', axis=1, inplace =True)

In [150]:
# check mode of country code column
from scipy.stats import mode
print mode(data['country_code']).mode[0]

# filling nan values in Country code column with Mode value
data['country_code']  = data['country_code'].fillna(mode(data['country_code']).mode[0])

'USA'

In [204]:
# pivot table
table = pd.pivot_table(data,index=["country_code"],aggfunc=np.sum,
                       values=["funding_total_usd","funding_rounds"]).sort_values(["funding_total_usd"], axis=0,  ascending=False)
table

              funding_rounds  funding_total_usd
country_code
USA                    54586       6.217333e+11
CHN                     1993       3.538789e+10
GBR                     3778       2.834512e+10
CAN                     1875       1.597638e+10
IND                     1039       1.337640e+10
DEU                     1284       1.242473e+10
RUS                      537       9.785176e+09
ISR                     1023       7.005875e+09
FRA                     1163       6.998873e+09
JPN                      590       5.563605e+09
ESP                      710       4.239910e+09
NLD                      360       3.660661e+09
CHE                      329       3.655425e+09
IRL                      433       3.364958e+09
AUS                      430       3.218247e+09
BRA                      377       2.995442e+09
SWE                      438       2.951124e+09
ITA                      369       2.291649e+09
SGP                      392       2.250344e+09
DNK                      262       2.041528e+09
BEL                      223       1.513139e+09
FIN                      224       1.243662e+09
NZL                       86       1.191080e+09
LUX                       38       1.181595e+09
MYS                       70       1.180624e+09
TUR                      147       1.053531e+09
HKG                      128       1.046882e+09
TWN                       55       9.453966e+08
KOR                      265       9.281521e+08
AUT                      164       9.151751e+08
...                      ...                ...
ZMB                        1       4.000000e+06
SVN                       11       3.601888e+06
SOM                        1       2.000000e+06
NRU                        1       1.672580e+06
GIN                        1       1.000000e+06
BRB                        1       7.986790e+05
MCO                        1       6.570000e+05
GLP                        1       5.175600e+05
MMR                        1       5.000000e+05
SLV                        4       4.400000e+05
DZA                        1       3.788120e+05
AZE                        4       3.720000e+05
FST                        1       3.500000e+05
NPL                        2       3.000000e+05
MUS                        2       2.350000e+05
LKA                        3       1.550000e+05
ALB                        1       1.500000e+05
SEN                        1       1.500000e+05
REU                        2       1.462400e+05
BLR                        3       1.200000e+05
CMR                        2       1.195610e+05
VEN                        2       9.007700e+04
UZB                        1       9.000000e+04
ECU                        3       8.000000e+04
SYC                        1       3.500000e+04
JAM                        1       3.000000e+04
ROM                        2       2.000000e+04
MDA                        1       1.416800e+04
OMN                        1       1.000000e+04
BWA                        1       1.000000e+03

[127 rows x 2 columns]

In [200]:
# # pd.pivot_table(data,index=["country_code","market"])

# pd.pivot_table(data,index=["country_code"],columns=["status"],values=["funding_total_usd","funding_rounds","founded_year"],
#                aggfunc=[np.mean])

In [201]:
# pd.pivot_table(data,index=["market"],columns=["status"],values=["funding_total_usd","funding_rounds","founded_year"],
#                aggfunc=[np.mean])

In [183]:
data["country_code"][0]

'BRA'

In [202]:
# table1 = pd.pivot_table(data,index=["country_code","market"],columns=["status"],values=["funding_total_usd","funding_rounds","founded_year"],
#                aggfunc=[np.mean], fill_value = 0)
# table1.query('country_code == ["USA"]')

In [205]:
# pivot table
table = pd.pivot_table(data,index=["country_code", "market"],aggfunc=np.sum,
                       values=["funding_total_usd","funding_rounds"]).sort_values(["funding_total_usd"], axis=0, ascending=False)
table

                                            funding_rounds  funding_total_usd
country_code market
USA           Biotechnology                           6573       6.872213e+10
              Mobile                                  1979       4.437554e+10
              Clean Technology                        1734       3.364742e+10
              Software                                4356       3.162788e+10
              Advertising                             2618       1.880158e+10
              Enterprise Software                     2046       1.818221e+10
              Health Care                             1715       1.776095e+10
              Curated Web                             2406       1.552197e+10
              E-Commerce                              1828       1.415269e+10
              Analytics                               1885       1.188475e+10
              Hardware + Software                     1354       1.081847e+10
              Health and Wellness                     1141       1.038742e+10
              Finance                                 1047       9.134433e+09
              Games                                   1132       9.133529e+09
              None                                     594       9.050396e+09
              Semiconductors                           768       8.891480e+09
              Web Hosting                              497       8.180552e+09
              Manufacturing                            738       7.629641e+09
              Internet                                 134       7.021352e+09
              Education                                974       6.250099e+09
              Security                                 619       6.229767e+09
              Hospitality                              455       6.198660e+09
              Automotive                               318       5.976718e+09
CHN           E-Commerce                               274       5.933155e+09
RUS           Banking                                    3       5.802720e+09
USA           Cloud Computing                          601       5.429078e+09
              Consulting                               429       4.171166e+09
              Real Estate                              295       3.965963e+09
GBR           Biotechnology                            327       3.572406e+09
IND           E-Commerce                               141       3.425474e+09
...                                                    ...                ...
NGA           Babies                                     1       1.000000e+04
              Social Media                               1       1.000000e+04
AZE           Analytics                                  1       1.000000e+04
HUN           Art                                        1       1.000000e+04
OMN           Education                                  1       1.000000e+04
RUS           Design                                     1       9.326000e+03
POL           Content                                    2       9.000000e+03
              Contact Management                         1       7.207000e+03
PAK           Web Hosting                                1       6.000000e+03
CHL           Networking                                 1       6.000000e+03
PHL           Interface Design                           1       5.000000e+03
PRT           Events                                     1       5.000000e+03
UGA           E-Commerce                                 1       5.000000e+03
CAN           Nonprofits                                 1       4.919000e+03
CMR           Social Media                               1       4.561000e+03
ESP           Advertising Networks                       1       3.903000e+03
GBR           Comparison Shopping                        1       3.345000e+03
NOR           Computers                                  1       2.750000e+03
BGR           Automotive                                 1       2.500000e+03
UGA           Business Intelligence                      1       2.000000e+03
              News                                       1       2.000000e+03
POL           Location Based Services                    1       2.000000e+03
BGD           Freelancers                                1       1.500000e+03
USA           New Technologies                           1       1.350000e+03
MEX           Events                                     1       1.000000e+03
KOR           Ediscovery                                 1       1.000000e+03
AUS           Bridging Online and Offline                1       1.000000e+03
BWA           Networking                                 1       1.000000e+03
COL           Sports                                     1       1.000000e+03
ROU           Medical                                    1       6.000000e+02

[3768 rows x 2 columns]